ul
  li
    a(href='http://hackforchange.org/challenge/fire-data-visualization') Challenge description
  li
    a(href='http://www.fema.gov/library/viewRecord.do?fromSearch=fromsearch&id=7443') FEMA fire data used on this site
  li
    a(href='http://www.mccurley.org/svg/') Zipcode boundary map data used on this site
h3 References
ul
  li
    a(href='http://www.usfa.fema.gov/fireservice/nfirs/tools/index.shtm') NFIRS 5.0 Fire Data Analysis Guidelines and Issues
  li
    a(href='http://www.nfirs.fema.gov/documentation/reference/') NFIRS 5.0 Complete Reference Guide (January 2013)
  li
    a(href='http://www.usfa.fema.gov/fireservice/nfirs/tools/fire_cause_category_matrix.shtm') Structure Fire Cause Methodology
  li
    a(href='http://www.nfirs.fema.gov') NFIRS Website
  li
    a(href='http://www.usfa.fema.gov') USFA Website
hr

p
  a(href='http://bigasterisk.com/') Drew Perttula
  |  is the author of this viewer website. Code is on 
  a(href='https://github.com/drewp/firedata') github
  | . Email 
  a(href='mailto:drewp@bigasterisk.com') drewp@bigasterisk.com