style
  .sidebar {
    background: rgb(245, 245, 245);
    font-size: 80%;
  }
  .report {
    padding: 0 50px 50px 50px;
  }
  .challenge {
    padding-left: 3em;
    width: 50em;
    font-style: italic;
    color: rgb(123, 160, 123);
  }
  #map {
    width: 720px;
    height: 300px;
    border: 1px solid gray;
  }
  #map polygon {
    stroke-width: .002px;
    stroke: black;
    fill: red;
  }
  #map circle {
    fill: red;
  }
