style
  .sidebar {
    background: rgb(245, 245, 245);
    font-size: 80%;
  }
  .report {
    padding: 0 50px 50px 50px;
  }
  .challenge {
    padding-left: 3em;
    width: 50em;
    font-style: italic;
    color: rgb(123, 160, 123);
  }
  #map {
    width: 720px;
    height: 400px;
    border: 1px solid gray;
    background: hsl(240, 75%, 84%);
  }
  #map .zipBoundaries polygon {
    stroke-width: .0002px;
    stroke: black;
    fill: white;
  }
  #map .zipBoundaries .queried polygon {
    fill: hsl(24, 81%, 68%);
  }

