h1 Fire Data Visualization
p A response to the challenge:
p.challenge How can we use the National Fire Incident Reporting System (NFIRS) data and other related pertinent data to increase fire safety and prevention awareness, and potentially improve processes, ultimately reducing fire injuries and fatalities across the nation?
